@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/outfit";

@custom-variant dark (&:is(.dark *));



/* ─── Design Tokens ──────────────────────────────────────── */
@theme {
  --font-outfit: 'Outfit Variable', sans-serif;
  --color-magenta:     #781B43;
  --color-bgYellow:    #EFBA49;
  --color-lightYellow: #F9E9C7;
  --color-white:       #ffffff;
  --color-black:       #000000;
  --color-bg-secondary: #4c1628;
  --color-borderGreen: #198754;
  --color-edit-blue: #0D6EFD;
  --color-delete-red: #DC3545;
 
}

body, nav{
  font-family: var(--font-outfit) !important;
}
